.card {
  &--container {
    height: 6.4rem;
    background-color: var(--color-background-light);
    border: 2px solid var(--color-primary);
    border-radius: 0.6rem;
    margin: 2.4rem 0;
    padding: 0.8rem;
  }
}

.shopping-card {
  &--container {
  }
}
