.shopping-lists {
  &--container {
    margin: 0 2.4rem;
    height: calc(100% - 6.4rem);
  }

  &--logo {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin: 3.2rem 0;
  }
}
