:root {
  --color-primary: #32fcb3;
  --color-secondary: #ffb900;
  --color-primary-dark: #28b485;
  --color-primary-60: #32fcb360;
  --color-primary-80: #32fcb380;
  --color-white-50: #ffffff50;
  --color-white-75: #ffffff75;
  --color-background: #222222;
  --color-background-light: #333333;
  --color-background-lightest: #444444;
  --color-background-dark: #111111;
  --color-grey-border: #77777760;
  --color-purple-dark: #4d4697;
  --color-error: #eb1451;
  --color-grey-dark: #777777;
  --color-grey-dark-50: #77777750;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-underline: #222222;
  --color-profile-icon-active: #32fcb3;
  --color-number-circle: #ffffff;
  --color-navbar-label: #ffffff;
  --color-navbar-border: #222222;
  --color-text: #ffffff;
  --box-shadow-green: 0 2px 6px 4px rgba(50, 252, 178, 0.15);
  --box-shadow-black: 0 2px 4px 4px rgba(0, 0, 0, 0.5);

  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-21: 21;
  --z-index-22: 22;
  --z-index-23: 23;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
  --z-index-100: 100;
  --z-index-nav-bar: 200;
  --z-index-modal: 300;
}
